<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h1>...Video Trim...</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <label class="btn btn-default">
        Upload File
        <input type="file" name="file" hidden (change)="onFileSelected($event)">
      </label>
      <span *ngIf="selectedFile">{{selectedFile.name}}</span>
    </div>
  </div>

  <div class="row sbm">
    <div class="col-md-offset-4 col-md-4">
      <button type="button" class="btn btn-warning form-control" (click)="onUploadFile()">Submit</button>
    </div>
  </div>
</div>
